<section id="masthead">
<div class="logo">
  {{#image}}
    <img src="{{.}}">
  {{/image}}
</div>
<div class="content">
<div class="name">
  {{#name}}
    <h1>{{.}}</h1>
  {{/name}}
    {{#label}}
    <h2>{{.}}</h2>
  {{/label}}
</div>
 </div>
</section>
