{{#if resume.projects.length}}
  <section id="projects">
    <h3>Experience</h3>
    <div class="grid-list">
      {{#each resume.projects}}
        <article>
            <div class="spaced-list">
              <h4>{{name}}</h4>
              <span>
              </span>
            </div>
          {{#description}}
            {{{markdown .}}}
          {{/description}}
          {{#if highlights.length}}
            <ul>
              {{#highlights}}
                <li>{{.}}</li>
              {{/highlights}}
            </ul>
          {{/if}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
