{{#if resume.skills.length}}
  <section id="skills">
    <h3>Know</h3>
    <div class="grid-list">
      {{#each resume.skills}}
        <article>
            <div class="spaced-list">
          {{#name}}
            <h4>{{.}}</h4>
                      {{/name}}
            <span>
            </span>

                  </div>
          {{#if keywords.length}}
            <ul class="tag-list">
              {{#keywords}}
                <li>{{.}}</li>
              {{/keywords}}
            </ul>
          {{/if}}

       </article>
      {{/each}}
    </div>
  </section>
{{/if}}
