<!DOCTYPE html>
<html lang="en">
  <head>
   <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <title>{{ basics.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
  </head>
  <body>
  <div class="bodish">
    {% include "header.html" %}
    {% include "about.html" %}
    {% include "skills.html" %}
    {% include "projects.html" %}
    {% include "work.html" %}
    {% include "education.html" %}
    </div>
  </body>
</html>
